.navmenu a{
	color:#fff;
}


body{
	background-image:url("../img/ruta.jpg") ;
	background-size:cover;
	color:#fff;
}

.bpanel{
	color:#000;
	background-color: #f8f8f8;
	background-image:none;!important
	
}

.menu-lat{
	
	border-left:1px solid #eee;
	
}


.buscador{
	
	margin-top:15%;
	
}

.buscar{
	background-color:none;
}

.textoRegistro{
	
	text-size:18px;
}

.reg{
	
	margin-top:20px;
	
}

.reg>p{
	
	padding:15px;
	color:#000;
	border-radius:5px;
	text-align:center;
}

.cargaRuta{
	
	color:#000;
}
#listar{
	background-image:url("../img/postal.jpg") ;
	width:1100px;
	height:650px; 
	border:solid;
	background-size:cover;
	margin-left:13%;
	
}
.texto{
	margin-top:20%;
	margin-left:15%;
	width:700px;
	height:350px;
	font-family:Papyrus, fantasy;
	font-size:23px;
	color:black;
	font-weight:700; 
}

.destacar{
	font-style: italic;
	
	
}

.fondoFormulario{
	
	color:#000;
<<<<<<< HEAD
}

=======
}
>>>>>>> e77cbbe3519a074734b472c32fa9acbb05c28d9d
